<div class="card section">
  <h4 class="card-header text-center bg-light">{{title}}</h4>
  <div class="card-body">
    <form action="">
      <div class="row">
        <div class="col-md-6 center">
          <div class="form-group row">
            <label for="period" class="col-md-3">Period</label>
            <div class="col-md-8">
              <select name="period" id="period" class="form-control">
                <option value="">Select Period</option>
              </select>
            </div>
          </div>
          <div class="form-group row">
            <label for="salaryHead" class="col-md-3">Salary Head</label>
            <div class="col-md-8">
              <select name="salaryHead" id="salaryHead" class="form-control">
                <option value="">Select Salary Head</option>
              </select>
            </div>
          </div>
          <div class="form-group row">
            <label for="file" class="col-md-3">File</label>
            <div class="col-md-8">
              <input type="file" name="file" id="file" class="form-control-file">
            </div>
          </div>
          <div class="row">
            <button class="btn btn-success center"><span class="fas fa-file-upload"></span> Upload</button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>