<div class="card section">
  <h4 class="card-header text-center bg-light">
    {{title}}
  </h4>
  <div class="card-body">
    <form action="">
      <div class="col-md-7 center">
        <div class="form-group row">
          <label for="period" class="col-md-4">Period</label>
          <div class="col-md-8">
            <select name="period" id="period" class="form-control">
              <option value="">Select Period</option>
            </select>
          </div>
        </div>
        <div class="form-group row">
          <div class="demo-inline-spacing center">
              <button type="submit" class="btn btn-success">
                <span class="fas fa-spinner"></span> Process </button>
                <button type="" class="btn btn-secondary">
                <span class="far fa-window-close"></span> Close</button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>