<div class="card mb-4">
    <h4 class="card-header text-center bg-light">Approval Recruitment By Account</h4>
    <div class="card-body">
      <!--1st Row -->
      <div class="row pt-3" style="border: 1px solid lightgray;">
    
          <!-- column-->
          <div class="col-8">
              <!--Reason-->
        <div class="form-group row">
            <label class="col-form-label col-sm-4 text-sm-right">Reason</label>
            <div class="col-sm-8">
              <select class="form-control">
                <option>Select</option>
                <option>Option-1</option>
                <option>Option-2</option>
                <option>Option-3</option>
                <option>Option-4</option>
              </select>
            </div>
          </div>
            </div>
          
        </div>
      
      <!-- Table-->

          <hr class="border-light container-m--x mt-0 mb-4">
          <div class="demo-vertical-spacing">
            <div class="table-responsive">
              <table class="table table-bordered">
                <thead>
                  <tr>
                    <th>Application Name</th>
                    <th>Reference</th>
                    <th>Mobile</th>
                    <th>Department</th>
                    <th>Designation</th>
                    <th>Total Experience</th>
                    <th>Relevant Experience</th>
                    <th>PayScale</th>
                    <th>Salary</th>
                    <th>File Name</th>
                    <th>View</th>
                    <th>Recommend</th>
                    <th>Approve</th>
                    <th>Cancel</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <!--Button-->
      <div class="form-group row">
          <label class="col-form-label col-sm-5 text-sm-right"></label>
          <div class="demo-inline-spacing mt-3">
            <label class="9"></label>
            <button type="" class="btn btn-secondary">
              <span class="fas fa-window-close"></span> Close</button>
          </div>
        </div>
    </div>
    <!--end Card body-->
  </div>
  