<div class="card mb-4 section">
  <h4 class="card-header text-center bg-light">
    Assign Over Time
  </h4>
  <div class="container">
    <br />
    <div class="col-md-7 center">
        <div class="form-group row">
            <label class="col-form-label col-sm-4 text-sm-right">OT Type
            </label>
      
            <div class="col-sm-8">
              <select class="custom-select ">
                <option>1 </option>
                <option>2</option>
                <option>3</option>
                <option></option>
              </select>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-form-label col-sm-4 text-sm-right">Employee type
            </label>
      
            <div class="col-sm-8">
              <select class="custom-select ">
                <option>1 </option>
                <option>2</option>
                <option>3</option>
                <option></option>
              </select>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-form-label col-sm-4 text-sm-right">Location
            </label>
      
            <div class="col-sm-8">
              <select class="custom-select ">
                <option>1 </option>
                <option>2</option>
                <option>3</option>
                <option></option>
              </select>
            </div>
          </div>
    </div>
    <div class="row">
    <div class="demo-inline-spacing mt-3" style="margin:0 auto">
      <button type="" class="btn btn-success">
          <span class="fas fa-file-download"></span> Get Employees
      </button>
      <button type="clear" class="btn btn-info">
          <span class="ion ion-ios-refresh"></span> Refresh</button>
    </div>
    </div>
    <table class="table">
      <thead>
        <tr>
          <th><label class="custom-control custom-checkbox m-0">
              <input type="checkbox" class="custom-control-input">
              <span class="custom-control-label"></span>
            </label>Select</th>
          <th>Designation</th>
          <th></th>
          <th></th>
          <th></th>
          <th>Delete</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th> <label class="custom-control custom-checkbox m-0">
              <input type="checkbox" class="custom-control-input">
              <span class="custom-control-label"></span>
            </label></th>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td><button type="" class="btn btn-danger"><span class="fas fa-trash"></span></button></td>
        </tr>
        <tr>
          <th> <label class="custom-control custom-checkbox m-0">
              <input type="checkbox" class="custom-control-input">
              <span class="custom-control-label"></span>
            </label></th>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td><button type="" class="btn btn-danger"><span class="fas fa-trash"></span></button></td>
        </tr>
        <tr>
          <th> <label class="custom-control custom-checkbox m-0">
              <input type="checkbox" class="custom-control-input">
              <span class="custom-control-label"></span>
            </label></th>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
         <td><button type="" class="btn btn-danger"><span class="fas fa-trash"></span></button></td>
        </tr>
      </tbody>
    </table>
    <div class="row">
      <div class="col-md-4">
        <div class="form-group row">
            <label class="col-form-label col-sm-4 text-sm-right">Total Employee
            </label>
          </div> 
    </div>
    <div class="col-md-8">
        <div class="demo-inline-spacing mt-3" style="margin:0 auto">
            <button type="submit" class="btn btn-primary">
                <span class="fas fa-edit"></span> Update </button>
            <button type="" class="btn btn-secondary ">
              <span class="fas fa-window-close"> Close</span>
            </button>
          </div>
    </div>
    </div>
    </div>
    </div>