<div class="card section">
  <h4 class="card-header text-center bg-light">{{title}}</h4>
  <div class="card-body">
    <div class="row">
      <div class="col-md-6 center">
        <div class="form-group row">
          <label for="userName" class="col-md-4">User Name</label>
          <div class="col-md-8">
            <select name="userName" id="userName" class="form-control">
              <option value="">Select User</option>
            </select>
          </div>
        </div>

        <div class="container">
          <div id="accordion">
            <div class="card">
              <div class="card-header " data-toggle="collapse" href="#system">
                <input type="checkbox" name="sys" id="sys" class="form-input-check">
                <a class="card-link"> &nbsp; &nbsp;
                  <label for="sys" class="">System Setup </label>
                </a>
                <span class="fas fa-caret-down" style="float:right"></span>
              </div>
              <div id="system" class="collapse" data-parent="#accordion">
                <li class="list-group-item">
                  <input type="checkbox" name="basicEntry" id="basicEntry" class="form-input-check"> &nbsp; &nbsp;
                  <label for="basicEntry" class="">Basic Entry </label>
                  <span class="fas fa-caret-down" style="float:right"></span>
                </li>
                <li class="list-group-item">
                  <input type="checkbox" name="bankBranch" id="bankBranch" class="form-input-check"> &nbsp; &nbsp;
                  <label for="bankBranch" class="">Bank Branch </label>
                </li>
              </div>
            </div>
            <div class="card">
              <div class="card-header " data-toggle="collapse" href="#hr">
                <input type="checkbox" name="hrMenu" id="hrMenu" class="form-input-check">
                <a class="card-link"> &nbsp; &nbsp;
                  <label for="hrMenu" class="">HR Menu </label>
                </a>
                <span class="fas fa-caret-down" style="float:right"></span>
              </div>
              <div id="hr" class="collapse" data-parent="#accordion">
                <li class="list-group-item">
                  <input type="checkbox" name="empGenInfo" id="empGenInfo" class="form-input-check"> &nbsp; &nbsp;
                  <label for="empGenInfo" class="">Employee General Information </label>
                </li>
                <li class="list-group-item">
                  <input type="checkbox" name="employmentInfo" id="employmentInfo" class="form-input-check"> &nbsp;
                  &nbsp;
                  <label for="employmentInfo" class="">Employment Information </label>
                </li>
              </div>
            </div>
            <div class="card">
              <div class="card-header " data-toggle="collapse" href="#property">
                <input type="checkbox" name="propertyMenu" id="propertyMenu" class="form-input-check">
                <a class="card-link"> &nbsp; &nbsp;
                  <label for="propertyMenu" class="">Property </label>
                </a>
                <span class="fas fa-caret-down" style="float:right"></span>
              </div>
              <div id="property" class="collapse" data-parent="#accordion">
                <li class="list-group-item">
                  <input type="checkbox" name="category" id="category" class="form-input-check"> &nbsp; &nbsp;
                  <label for="category" class="">Category </label>
                </li>
                <li class="list-group-item">
                  <input type="checkbox" name="name" id="name" class="form-input-check"> &nbsp; &nbsp;
                  <label for="name" class="">Name</label>
                </li>
              </div>
            </div>
          </div>
        </div>

        <br>
        <div class="row">
          <button class="btn btn-success center"><span class="fas fa-save"></span> Save</button>
        </div>
      </div>
    </div>
  </div>
</div>