<div class="card section">
    <h4 class="card-header text-center bg-light">{{title}}</h4>
    <div class="card-body">
      <form action="">
        <div class="row">
          <div class="col-md-6">
            <div class="form-group row">
              <label for="period" class="col-md-3">Period</label>
              <div class="col-md-8">
                <select name="period" id="period" class="form-control">
                  <option value="">Select Period</option>
                </select>
              </div>
            </div>
            <div class="form-group row">
              <label for="salaryHead" class="col-md-3">Salary Head</label>
              <div class="col-md-8">
                <select name="salaryHead" id="salaryHead" class="form-control">
                  <option value="">Select Salary Head</option>
                </select>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group row">
              <label for="department" class="col-md-3">Department</label>
              <div class="col-md-8">
                <select name="department" id="department" class="form-control">
                  <option value="">Select Department</option>
                </select>
              </div>
            </div>
            <div class="form-group row">
              <label for="reference" class="col-md-3">Reference</label>
              <div class="col-md-8">
                <input type="text" name="reference" id="reference" class="form-control" placeholder="Reference">
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <button class="btn btn-primary center">Show Data</button>
        </div>
      </form>
      <br>
      <div class="row">
        <div class="col-md-4">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th>Salary Head</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td></td>
                <td><button class="">Select</button></td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="col-md-8">
          <div class="card mb-4 center">
            <div class="card-header">
              <div class="row">
                <div class="col">
                  Per page: &nbsp;
                  <select [(ngModel)]="perPage" (change)="update()"
                    class="custom-select custom-select-md d-inline-block w-auto">
                    <option *ngFor="let limit of [5, 10, 20, 30, 40, 50]">{{limit}}</option>
                  </select>
                </div>
                <div class="col">
                  <input type="text" [(ngModel)]="filterVal" (input)="currentPage = 1; update()"
                    class="form-control form-control-md d-inline-block w-auto float-sm-right" placeholder="Search...">
                </div>
              </div>
            </div>
            <div class="card-body py-0">
              <div class="row">
                <table class="table table-hover table-striped mb-2 table-responsive">
                  <thead>
                    <tr>
                      <th>Code</th>
                      <th>Employee Name</th>
                      <th>Designation</th>
                      <th>Department</th>
                      <th>Amount</th>
                      <th>Action</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngIf="tempItems.length==0">
                      <td colspan="11" class="font-italic text-center">No Item available</td>
                    </tr>
                    <tr *ngFor="let item of tempItems">
                      <td>{{item}}</td>
                      <td>{{item}}</td>
                      <td>{{item}}</td>
                      <td>{{item}}</td>
                      <td>{{item}}</td>
                      <td><button class="btn btn-danger"><span class="fas fa-trash"></span></button></td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <!-- Pagination -->
              <div class="row">
                <div class="col-sm text-sm-left text-center pt-3">
                  <span class="text-muted" *ngIf="totalItems">Page {{ currentPage }} of {{ totalPages }}</span>
                </div>
                <div class="col-sm pt-3">
                  <ngb-pagination [collectionSize]="totalItems" [pageSize]="perPage" [(page)]="currentPage"
                    (pageChange)="update()" size="sm" class="d-flex justify-content-center justify-content-sm-end m-0">
                  </ngb-pagination>
                </div>
              </div>
            </div>
            <!-- / Pagination -->
          </div>
        </div>
      </div>
      <div class="row">
        <div class="demo-inline-spacing center">
          <button class="btn btn-success"><span class="fas fa-save"></span> Save</button>
          <button class="btn btn-secondary"><span class="ion ion-ios-close"></span> Close</button>
        </div>
      </div>
    </div>
  </div>