<div class="card">
  <h4 class="card-header text-center bg-light">{{title}}</h4>
  <div class="card-body">
    <div class="row">
      <div class="col-md-6 center">
        <div class="form-group row">
          <label for="empCode" class="col-md-4">Employee Code</label>
          <div class="input-group col-md-8">
            <input type="text" name="employeeCode" id="empCode" class="form-control" placeholder="Employee Code">
            <div class="input-group-append">
              <button class="input-group-text btn btn-info"><span class="fas fa-search"></span></button>
            </div>
          </div>
        </div>
        <div class="row">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th>User Name</th>
                <th>Password</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>admin</td>
                <td>AxsJKyDwoiuQ</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>