<div class="card mb-4 section">
    <h4 class="card-header text-center bg-light">
    Additional Tax Information
  </h4>
    <div class="card-body">
      <div class="col-md-7 center">
          <div class="form-group row">
              <label class="col-form-label col-sm-4 text-sm-right">Tax Year
              </label>
              <div class="col-sm-8">
                <select class="custom-select ">
                  <option>Select state</option>
                  <option>Type 1</option>
                  <option>Type 2</option>
                  <option></option>
                  <option></option>
                  <option></option>
                  <option></option>
                </select>
              </div>
            </div>
            <div class="form-group row">
                <label class="col-form-label col-sm-4 text-sm-right">Item Name
                </label>
                <div class="col-sm-8">
                  <input type="text" class="form-control" placeholder="Item Name">
                </div>
              </div>
              <div class="form-group row">
                  <label class="col-form-label col-sm-4 text-sm-right"> Employee Code
                      <i class="text-danger">*</i>
                  </label>
          
                  <div class="input-group col-sm-8">
                    <input class="form-control" name="" placeholder="Employee-code" >
                    <div class="input-group-append">
                      <button class="input-group-text btn btn-info" type="button">
                        <span class="ion ion-md-search" style="cursor: pointer;"></span>
                      </button>
                    </div>
                  </div>
                </div>
                <div class="form-group row">
                    <label class="col-form-label col-sm-4 text-sm-right">Emp Name
                    </label>
                    <div class="col-sm-8">
                      <input type="text" class="form-control" placeholder="Emp Name">
                    </div>
                  </div>
                  <div class="form-group row">
                      <label class="col-form-label col-sm-4 text-sm-right">Exemption Rule
                      </label>
                      <div class="col-sm-8">
                        <textarea type="text" rows="4" class="form-control" placeholder="Exemption Rule"></textarea>
                      </div>
                    </div>
      </div>
    
                <div class="row">
                    <div class="demo-inline-spacing mt-3"  style="margin:0 auto">
                        <button type="" class="btn btn-success" >
                          <span class="fas fa-save"> Save</span>
                        </button>
                        <button type="" class="btn btn-secondary ">
                          <span class="fas fa-window-close"> Close</span>
                        </button>
                      </div>
                    </div>
                    <table class="table">
                        <thead>
                          <tr>
                            <th>#</th>
                            <th>Emp.code</th>
                            <th>Emp Name</th>
                            <th>Item Name</th>
                            <th>Exempt Amount</th>
                            <th></th>
                           
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <th>1</th>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                          </tr>
                          <tr>
                            <th>2</th>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                          </tr>
                          <tr>
                            <th>3</th>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                          </tr>
                        </tbody>
                      </table>
      </div>
      </div>