<div class="card mb-4">
  <h4 class="card-header text-center bg-light">
    GL Code
  </h4>
  <div class="card-body">
    <div class="col-md-7 center">
        <form>
            <!--Cost Head-->
            <div class="form-group row">
              <label class="col-form-label col-sm-9 text-sm-right">Cost Head</label>
              <div class="col-sm-3">
                <select class="form-control">
                  <option>Select</option>
                  <option>Option-1</option>
                  <option>Option-2</option>
                  <option>Option-3</option>
                  <option>Option-4</option>
                </select>
              </div>
            </div>
            <!--GL Department-->
            <div class="form-group row">
              <label class="col-form-label col-sm-3 text-sm-right">GL Department</label>
              <div class="col-sm-9">
                <select class="form-control">
                  <option>Select</option>
                  <option>Option-1</option>
                  <option>Option-2</option>
                  <option>Option-3</option>
                  <option>Option-4</option>
                </select>
              </div>
            </div>
            <!-- Location -->
            <div class="form-group row">
              <label class="col-form-label col-sm-3 text-sm-right"> Location</label>
              <div class="col-sm-9">
                <select class="form-control">
                  <option>Select</option>
                  <option>Option-1</option>
                  <option>Option-2</option>
                  <option>Option-3</option>
                  <option>Option-4</option>
                </select>
              </div>
            </div>
            <!--GL Code-->
            <div class="form-group row">
              <label class="col-form-label col-sm-3 text-sm-right">GL Code</label>
              <div class="col-sm-9">
                <input type="text" class="form-control" placeholder="GL Code">
              </div>
            </div>
            <!--GL Description-->
            <div class="form-group row">
              <label class="col-form-label col-sm-3 text-sm-right">GL Description</label>
              <div class="col-sm-9">
                <input type="text" class="form-control" placeholder="GL Description">
              </div>
            </div>
      
            <!--Button-->
            <div class="form-group row">
              <div class="demo-inline-spacing mt-3 center">
                <button type="submit" class="btn btn-success">
                  <span class="fas fa-save"></span> Save</button>
                <button type="clear" class="btn btn-info">
                  <span class="ion ion-ios-refresh"></span> Reset</button>
                <button type="" class="btn btn-secondary">
                  <span class="fas fa-window-close"></span> Close</button>
              </div>
            </div>
          </form>
    </div>
  </div>
  <!--Table-->
  <div class="card mb-4">
    <div class="card-header">
      <div class="row">
        <div class="col">
          Per page: &nbsp;
          <select [(ngModel)]="perPage" (change)="update()"
            class="custom-select custom-select-md d-inline-block w-auto">
            <option *ngFor="let limit of [10, 20, 30, 40, 50]">{{limit}}</option>
          </select>
        </div>
        <div class="col">
          <input type="text" [(ngModel)]="filterVal" (input)="currentPage = 1; update()"
            class="form-control form-control-md d-inline-block w-auto float-sm-right" placeholder="Search...">
        </div>
      </div>
    </div>
    <div class="card-body">
      <form autocomplete="off">
        <div class="form-group">
          <div class="table-responsive mb-4">
            <table class="table table-hover table-striped mb-0">
              <thead>
                <tr>
                  <th>Cost Head</th>
                  <th>GL Dep</th>
                  <th>Location</th>
                  <th>GL Code</th>
                  <th>GL Description</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngIf="tempItems.length==0">
                  <td colspan="13" class="font-italic text-center">No item available</td>
                </tr>
                <tr *ngFor="let item of tempItems; let i=index">
                  <td>{{item}}</td>
                  <td>{{item}}</td>
                  <td>{{item}}</td>
                  <td>{{item}}</td>
                  <td>{{item}}</td>
                </tr>
              </tbody>
            </table>
          </div>
          <!-- Pagination -->
          <div class="card-body py-0">

            <div class="row">
              <div class="col-sm text-sm-left text-center pt-3">
                <span class="text-muted" *ngIf="totalItems">Page {{ currentPage }} of {{ totalPages }}</span>
              </div>
              <div class="col-sm pt-3">
                <ngb-pagination [collectionSize]="totalItems" [pageSize]="perPage" [(page)]="currentPage"
                  (pageChange)="update()" size="sm" class="d-flex justify-content-center justify-content-sm-end m-0">
                </ngb-pagination>
              </div>
            </div>

          </div>
          <!-- / Pagination --> 
        </div>
      </form>
    </div>
  </div>
