<div class="card section">
  <h4 class="card-header text-center bg-light">
    {{title}}
  </h4>
  <div class="card-body">
    <form>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group row">
            <label for="empId" class="col-md-4">Employee Id</label>
            <div class="input-group col-md-6">
              <input type="text" name="employeeId" id="empId" class="form-control" placeholder="Employee Id">
              <div class="input-group-append">
                <button class="input-group-text btn btn-info" type="button">
                  <span class="fas fa-search" style="cursor: pointer;"></span>
                </button>
              </div>
            </div>
          </div> 
          <div class=" form-group row">
            <label class="col-form-label col-md-4" for="empName">Employee Name</label>
            <div class="col-md-8">
              <input type="text" name="employeeName" id="empName" class="form-control" disabled placeholder="Employee Name">
            </div>
          </div>
          <div class=" form-group row">
            <label class="col-form-label col-md-4" for="designation">Designation</label>
            <div class="col-md-8">
              <input type="text" name="designation" id="designation" class="form-control" disabled placeholder="Designation">
            </div>
          </div>
          <div class="border" style="padding: 5px;">

            <div class="form-group row">
              <label for="appEmpId" class="col-md-4">Apply to Employee Id</label>
              <div class="input-group col-md-6">
                <input type="text" name="appEmpId" id="appEmpId" class="form-control" placeholder="Apply to Employee Id">
                <div class="input-group-append">
                  <button class="input-group-text btn btn-info" type="button">
                    <span class="fas fa-search" style="cursor: pointer;"></span>
                  </button>
                </div>
              </div>
            </div> 
            
          <div class=" form-group row">
              <label class="col-form-label col-md-4" for="empName">Employee Name</label>
              <div class="col-md-8">
                <input type="text" name="employeeName" id="empName" class="form-control" disabled placeholder="Employee Name">
              </div>
            </div>
            
          <div class="form-group row">
              <label class="col-form-label col-md-4" for="designation">Designation</label>
              <div class="col-md-8">
                <input type="text" name="designation" id="designation" class="form-control" disabled placeholder="Designation">
              </div>
            </div>

          </div>

        </div>
        <div class="col-md-6">
            <div class="form-group row">
                <label class="form-label col-md-4">Attendance Date</label>
                <div class="input-group col-md-8">
                  <input class="form-control" placeholder="dd-mm-yyyy" name="attendanceDate" ngbDatepicker [(ngModel)]="attendanceDate"
                    [displayMonths]="1" #d1="ngbDatepicker">
                  <div class="input-group-append">
                    <button class="input-group-text" (click)="d1.toggle()" type="button">
                      <span class="ion ion-md-calendar" style="cursor: pointer;"></span>
                    </button>
                  </div>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-form-label col-md-4" for="reason">Reason</label>
                <div class="col-md-8">
                  <textarea row="3" name="reason" id="reason" class="form-control" placeholder="Reason"></textarea>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-form-label col-md-4" for="intTime">In Time</label>
              <div class="col-md-8">
                <ngb-timepicker [(ngModel)]="inTime" [seconds]="true" name="inTime" [secondStep]="10"></ngb-timepicker>
              </div>
            </div>
            
            <div class="form-group row">
                <label class="col-form-label col-md-4" for="outTime">Out Time</label>
              <div class="col-md-8">
                <ngb-timepicker [(ngModel)]="outTime" [seconds]="true" name="outTime" [secondStep]="10"></ngb-timepicker>
              </div>
            </div>

          <div class="row">
            <label for="" class="col-form-label col-sm-2 text-sm-right"></label>
            <div class="demo-inline-spacing mt-3">
              <button type="submit" class="btn btn-success"><span class="fas fa-save"></span> Save</button>
              <button class="btn btn-info"><span class="ion ion-ios-refresh"></span> Reset</button>
              <button class="btn btn-secondary"><span class="fas fa-window-close"></span> Close</button>
              <!-- <button class="btn btn-danger"><span class="fas fa-trash-alt"></span> Delete</button> -->
            </div>
          </div>
        </div>
      </div>
    </form>

    <div class="card mb-4">
      <div class="card-header">
        <div class="row">
          <div class="col">
            Per page: &nbsp;
            <select [(ngModel)]="perPage" (change)="update()"
              class="custom-select custom-select-md d-inline-block w-auto">
              <option *ngFor="let limit of [5, 10, 20, 30, 40, 50]">{{limit}}</option>
            </select>
          </div>
          <div class="col">
            <input type="text" [(ngModel)]="filterVal" (input)="currentPage = 1; update()"
              class="form-control form-control-md d-inline-block w-auto float-sm-right" placeholder="Search...">
          </div>
        </div>
      </div>
      <table class="table table-hover table-striped mb-0">
        <thead>
          <tr>
            <th>Date</th>
            <th>In Time</th>
            <th>Out Time</th>
            <th>Reason</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngIf="tempItems.length==0">
            <td colspan="3" class="font-italic text-center">No Item available</td>
          </tr>
          <tr *ngFor="let item of tempItems">
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
        </tbody>
      </table>
      <!-- Pagination -->
      <div class="card-body py-0">
        <div class="row">
          <div class="col-sm text-sm-left text-center pt-3">
            <span class="text-muted" *ngIf="totalItems">Page {{ currentPage }} of {{ totalPages }}</span>
          </div>
          <div class="col-sm pt-3">
            <ngb-pagination [collectionSize]="totalItems" [pageSize]="perPage" [(page)]="currentPage"
              (pageChange)="update()" size="sm" class="d-flex justify-content-center justify-content-sm-end m-0">
            </ngb-pagination>
          </div>
        </div>
      </div>
      <!-- / Pagination -->
    </div>
  </div>
</div>