<div class="card mb-4 section">
  <h4 class="card-header text-center bg-light">
    Employee Location show
  </h4>
  <div class="card-body">
    <br />
    <div class="col-md-7 center">
    <div class="form-group row">
        <label class="col-form-label col-sm-4 text-sm-right ">Enter Latitude
        </label>
        <div class="col-sm-6">
          <input type="text" class="form-control" placeholder="Enter Latitude">
        </div>
      </div>
      <div class="form-group row">
          <label class="col-form-label col-sm-4 text-sm-right ">Enter Longitude
          </label>
          <div class="col-sm-6">
            <input type="text" class="form-control" placeholder="Enter Longitude">
          </div>
        </div>
      </div>
      <div class="row">
          <div class="demo-inline-spacing mt-3" style="margin:0 auto">
            <button type="" class="btn btn-success">
              <span class="fas fa-save"> Submit</span>
            </button>
            </div>

          </div>
  </div>
</div>