<div class="card  section">
  <h4 class="card-header text-center bg-light">
    {{title}}
  </h4>
  <div class="card-body col-md-9" style="margin: 0 auto">
    <form>
      <div class="form-group row">
        <label class="form-label col-sm-3">Select Month/Date</label>
        <div class="input-group col-sm-6">
          <input class="form-control" placeholder="dd-mm-yyyy" name="holyday" ngbDatepicker [(ngModel)]="holyday"
            [displayMonths]="1" #d1="ngbDatepicker">
          <div class="input-group-append">
            <button class="input-group-text" (click)="d1.toggle()" type="button">
              <span class="ion ion-md-calendar" style="cursor: pointer;"></span>
            </button>
          </div>
        </div>
      </div>

    </form>
    <div class="card mb-4">
        <div class="card-header">
          <div class="row">
            <div class="col">
              Per page: &nbsp;
              <select [(ngModel)]="perPage" (change)="update()"
                class="custom-select custom-select-md d-inline-block w-auto">
                <option *ngFor="let limit of [5, 10, 20, 30, 40, 50]">{{limit}}</option>
              </select>
            </div>
            <div class="col">
              <input type="text" [(ngModel)]="filterVal" (input)="currentPage = 1; update()"
                class="form-control form-control-md d-inline-block w-auto float-sm-right" placeholder="Search...">
            </div>
          </div>
        </div>
        <table class="table table-hover table-striped mb-0">
          <thead>
            <tr>
              <th>ID</th>
              <th>Description</th>
              <th>Sort Order</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngIf="tempItems.length==0">
              <td colspan="3" class="font-italic text-center">No Item available</td>
            </tr>
            <tr *ngFor="let item of tempItems">
              <td>{{item}}</td>
              <td>{{item}}</td>
              <td>{{item}}</td>
            </tr>
          </tbody>
        </table>
        <!-- Pagination -->
        <div class="card-body py-0">
          <div class="row">
            <div class="col-sm text-sm-left text-center pt-3">
              <span class="text-muted" *ngIf="totalItems">Page {{ currentPage }} of {{ totalPages }}</span>
            </div>
            <div class="col-sm pt-3">
              <ngb-pagination [collectionSize]="totalItems" [pageSize]="perPage" [(page)]="currentPage"
                (pageChange)="update()" size="sm" class="d-flex justify-content-center justify-content-sm-end m-0">
              </ngb-pagination>
            </div>
          </div>
        </div>
        <!-- / Pagination -->
      </div>
  </div>
</div>