<div class="card mb-4">
  <h4 class="card-header text-center bg-light">
    Asset Setup Information
  </h4>
  <div class="card-body">
    <div class="col-md-7 center">
    <form>
      <!--Category Name-->
      <div class="form-group row">
        <label class="col-form-label col-sm-4 text-sm-right">Category Name</label>
        <div class="col-sm-8">
          <select [(ngModel)]="asset.assetCatagoryId" name="assetCatagoryId" (change)="GetAssetByCategory(asset.assetCatagoryId)" class="form-control">
            <option value="0">---Select Category---</option>
            <option *ngFor="let c of categories" value="{{c.id}}">{{c.categoryName}}</option>
          </select>
        </div>
      </div>
      <!--Assain Name-->
      <div class="form-group row">
        <label class="col-form-label col-sm-4 text-sm-right">Assain Name</label>
        <div class="col-sm-8">
          <select [(ngModel)]="asset.assetID" name="assetID" class="form-control">
            <option value="0">---Select Asset---</option>
            <option *ngFor="let a of assetname" value="{{a.id}}">{{a.assetName}}</option>
          </select>
        </div>
      </div>
      <!--Model-->
      <div class="form-group row">
        <label class="col-form-label col-sm-4 text-sm-right">Model</label>
        <div class="col-sm-8">
          <input [(ngModel)]="asset.model" name="model" type="text" class="form-control" placeholder="Model">
        </div>
      </div>
      <!--Serial No-->
      <div class="form-group row">
        <label class="col-form-label col-sm-4 text-sm-right">Serial No</label>
        <div class="col-sm-8">
          <input [(ngModel)]="asset.serial" name="serial" type="text" class="form-control" placeholder="Serial No">
        </div>
      </div>
      <!--Purchase Price-->
      <div class="form-group row">
        <label class="col-form-label col-sm-4 text-sm-right">Purchase Price</label>
        <div class="col-sm-8">
          <input [(ngModel)]="asset.purchesPrice" name="purchesPrice" type="text" class="form-control" placeholder="Purchase Price">
        </div>
      </div>
      <!--Configuration-->
      <div class="form-group row">
        <label class="col-form-label col-sm-4 text-sm-right">Configuration</label>
        <div class="col-sm-8">
          <input [(ngModel)]="asset.confiruration" name="confiruration" type="text" class="form-control" placeholder="Configuration">
        </div>
      </div>
      <!--Warranty Type-->
      <div class="form-group row">
        <label class="col-form-label col-sm-4 text-sm-right">Warranty Type</label>
        <div class="col-sm-8">
          <select [(ngModel)]="asset.warrentyType" name="warrentyType" class="form-control">
            <option >Select</option>
            <option value="Yes">Yes</option>
            <option value="No">No</option>
          </select>
        </div>
      </div>
      <!--Purchase Date-->
      <div class="form-group row">
        <label class="col-form-label col-sm-4 text-sm-right">Purchase Date</label>
        <div class="col-sm-8">
          <div class="input-group">
            <input [(ngModel)]="asset.purchesDateNg"  name="purchesDateNg" class="form-control" value="{{asset.purchesate | date: 'dd-MM-yyyy'}}" placeholder="dd-mm-yyyy" ngbDatepicker
               #d1="ngbDatepicker">
            <div class="input-group-append">
              <button class="input-group-text" (click)="d1.toggle()" type="button">
                <span class="ion ion-md-calendar" style="cursor: pointer;"></span>
              </button>
            </div>
          </div>
        </div>
      </div>
      <!--Warranty Expire Date-->
      <div class="form-group row">
        <label class="col-form-label col-sm-4 text-sm-right">Warranty Expire Date</label>
        <div class="col-sm-8">
          <div class="input-group">
            <input class="form-control" [(ngModel)]="asset.warrentyDateNg" name="warrentyDateNg" value="{{asset.warrentydate | date: 'dd-MM-yyyy'}}" placeholder="dd-mm-yyyy" ngbDatepicker
               #d2="ngbDatepicker">
            <div class="input-group-append">
              <button class="input-group-text" (click)="d2.toggle()" type="button">
                <span class="ion ion-md-calendar" style="cursor: pointer;"></span>
              </button>
            </div>
          </div>
        </div>
      </div>
      <!--Note-->
      <div class="form-group row">
        <label class="col-form-label col-sm-4 text-sm-right">Note</label>
        <div class="col-sm-8">
          <textarea [(ngModel)]="asset.note" name="note" class="form-control" placeholder="Note"></textarea>
        </div>
      </div>
      <!--Button-->
      <div class="form-group row">
          <div class="demo-inline-spacing mt-3  center">
              <button *ngIf="btnStatus=='Save'" (click)="Save()" type="submit" class="btn btn-success">
                <span class="fas fa-save"></span> Save</button>
              <button *ngIf="btnStatus=='Update'" (click)="Update()" type="clear" class="btn btn-primary">
                <span class="fas fa-pen"></span> Update</button>
              <button (click)="Reset()" type="clear" class="btn btn-info">
                <span  class="ion ion-ios-refresh"></span> Reset</button>
            </div>
      </div>
    </form>
    </div>
    <!-- Table-->
    <hr class="border-light container-m--x mt-0 mb-4">
    <div class="demo-vertical-spacing">
      <div class="table-responsive">
          <div class="card-header">
              <div class="row">
                <div class="col">
                  Per page: &nbsp;
                  <select [(ngModel)]="perPage" (change)="update()"
                    class="custom-select custom-select-md d-inline-block w-auto">
                    <option *ngFor="let limit of [5, 10, 20, 30, 40, 50]">{{limit}}</option>
                  </select>
                </div>
                <div class="col">
                  <input type="text" [(ngModel)]="filterVal" (input)="currentPage = 1; update()"
                    class="form-control form-control-md d-inline-block w-auto float-sm-right" placeholder="Search...">
                </div>
              </div>
            </div>
          <table class="table table-bordered">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Model</th>
                  <th>Serial</th>
                  <th>Configuration</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let prop of tempItems;let i = index">
                  <td>{{prop.id}}</td>
                  <td>{{prop.model}}</td>
                  <td>{{prop.serial}}</td>
                  <td>{{prop.confiruration}}</td>
                  <td><button (click)="GetAssetById(prop.id)" type="" class="btn btn-info">
                    <span class="fas fa-edit"></span></button>&nbsp;
                  <button (click)="AssetDelete(prop.id,deleteModal)" type="" class="btn btn-danger">
                    <span class="fas fa-trash"></span></button>
                  </td>
                </tr>
              </tbody>
            </table>
            <div class="card-body py-0">
                <div class="row">
                  <div class="col-sm text-sm-left text-center pt-3">
                    <span class="text-muted" *ngIf="totalItems">Page {{ currentPage }} of {{ totalPages }}</span>
                  </div>
                  <div class="col-sm pt-3">
                    <ngb-pagination [collectionSize]="totalItems" [pageSize]="perPage" [(page)]="currentPage"
                      (pageChange)="update()" size="sm" class="d-flex justify-content-center justify-content-sm-end m-0">
                    </ngb-pagination>
                  </div>
                </div>
              </div>
      </div>
      </div>
  </div>
</div>
<ng-template #deleteModal>
  <div class="modal-header">
    <h5 class="modal-title">Confirmation</h5>
  </div>
  <div class="modal-body">
    <p>Are you sure want to delete?</p>
  </div>
  <div class="modal-footer">
    <button (click)="Cancel()" class="btn btn-secondary">Cancel</button>
    <button (click)="Confirm()" class="btn btn-danger">Confirm</button>
  </div>
</ng-template>