<div class="card mb-4 section">
  <h4 class="card-header text-center bg-light">
    Employee Performance Bonus
  </h4>
  <div class="container">
    <br />
    <div class="col-md-7 center">
        <div class="form-group row">
            <label class="col-form-label col-sm-4 text-sm-right">Period
            </label>
            <div class="col-sm-8">
              <select class="custom-select ">
                <option>Select state</option>
                <option>Type 1</option>
                <option>Type 2</option>
                <option></option>
                <option></option>
                <option></option>
                <option></option>
              </select>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-form-label col-sm-4 text-sm-right">Bonus Type
            </label>
            <div class="col-sm-8">
              <select class="custom-select ">
                <option>Select state</option>
                <option>Type 1</option>
                <option>Type 2</option>
                <option></option>
                <option></option>
                <option></option>
                <option></option>
              </select>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-form-label col-sm-4 text-sm-right">Department
            </label>
            <div class="col-sm-8">
              <select class="custom-select ">
                <option>Select state</option>
                <option>Type 1</option>
                <option>Type 2</option>
                <option></option>
                <option></option>
                <option></option>
                <option></option>
              </select>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-form-label col-sm-4 text-sm-right">Bonus Head
            </label>
            <div class="col-sm-8">
              <select class="custom-select ">
                <option>Select state</option>
                <option>Type 1</option>
                <option>Type 2</option>
                <option></option>
                <option></option>
                <option></option>
                <option></option>
              </select>
            </div>
          </div>
    </div>
    <table class="table">
      <thead>
        <tr>
          <th>#</th>
          <th>Code</th>
          <th>Employee Name</th>
          <th>Designation</th>
          <th>Department</th>
          <th>Amount</th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th>1</th>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <th>2</th>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <th>3</th>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
      </tbody>
    </table>
    <div class="row">
      <div class="demo-inline-spacing mt-3" style="margin:0 auto">
        <button type="" class="btn btn-success">
          <span class="fas fa-save"> Save</span>
        </button>

        <button type="" class="btn btn-secondary">
          <span class="far fa-window-close"></span> Close</button>
      </div>
    </div>
  </div>
</div>