<div class="card section">
  <h4 class="card-header text-center bg-light">
    {{title}}
  </h4>
  <div class="card-body">
    <div class="row col-md-9" style="margin: 0 auto;">
      <form>
        <div class="form-group row">
          <label for="forwardId" class="col-md-4">Forward to Id</label>
          <div class="input-group col-md-8">
            <input type="text" name="forwardId" id="forwardId" class="form-control" placeholder="Forward to Id">
            <div class="input-group-append">
              <button class="input-group-text btn btn-info" type="button">
                <span class="fas fa-search" style="cursor: pointer;"></span>
              </button>
            </div>
          </div>
        </div>
        <div class=" form-group row">
          <label class="col-form-label col-md-4" for="empName">Employee Name</label>
          <div class="col-md-8">
            <input type="text" name="employeeName" id="empName" class="form-control" disabled
              placeholder="Employee Name">
          </div>
        </div>
        <div class=" form-group row">
          <label class="col-form-label col-md-4" for="designation">Designation</label>
          <div class="col-md-8">
            <input type="text" name="designation" id="designation" class="form-control" disabled
              placeholder="Designation">
          </div>
        </div>
      </form>
    </div>

    <div class="card mb-4">
      <div class="card-header">
        <div class="row">
          <div class="col">
            Per page: &nbsp;
            <select [(ngModel)]="perPage" (change)="update()"
              class="custom-select custom-select-md d-inline-block w-auto">
              <option *ngFor="let limit of [5, 10, 20, 30, 40, 50]">{{limit}}</option>
            </select>
          </div>
          <div class="col">
            <input type="text" [(ngModel)]="filterVal" (input)="currentPage = 1; update()"
              class="form-control form-control-md d-inline-block w-auto float-sm-right" placeholder="Search...">
          </div>
        </div>
      </div>
      <table class="table table-hover table-striped mb-0">
        <thead>
          <tr>
            <th>Id</th>
            <th>Employee Name</th>
            <th>Department</th>
            <th>Designation</th>
            <th>Date</th>
            <th>In Time</th>
            <th>Out Time</th>
            <th>Reason</th>
            <th>Recommend</th>
            <th>Approve</th>
            <th>Cancel</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngIf="tempItems.length==0">
            <td colspan="11" class="font-italic text-center">No Item available</td>
          </tr>
          <tr *ngFor="let item of tempItems">
            <td>{{item}}</td>
            <td>{{item}}</td>
            <td>{{item}}</td>
            <td>{{item}}</td>
            <td>{{item}}</td>
            <td>{{item}}</td>
            <td>{{item}}</td>
            <td>{{item}}</td>
            <td>{{item}}</td>
            <td>{{item}}</td>
            <td>{{item}}</td>
          </tr>
        </tbody>
      </table>
      <!-- Pagination -->
      <div class="card-body py-0">
        <div class="row">
          <div class="col-sm text-sm-left text-center pt-3">
            <span class="text-muted" *ngIf="totalItems">Page {{ currentPage }} of {{ totalPages }}</span>
          </div>
          <div class="col-sm pt-3">
            <ngb-pagination [collectionSize]="totalItems" [pageSize]="perPage" [(page)]="currentPage"
              (pageChange)="update()" size="sm" class="d-flex justify-content-center justify-content-sm-end m-0">
            </ngb-pagination>
          </div>
        </div>
      </div>
      <!-- / Pagination -->
    </div>
  </div>
</div>