<div class="card mb-4">
    <h4 class="card-header text-center">
        Asset Name Setup
    </h4>
    <div class="card-body">
      <form>
      <!--Asset Category Name-->
        <div class="form-group row">
          <label class="col-form-label col-sm-2 text-sm-right">Asset Category Name</label>
          <div class="col-sm-10">
              <select class="form-control">
                  <option>Select</option>
                  <option>Option-1</option>
                  <option>Option-2</option>
                  <option>Option-3</option>
                  <option>Option-4</option>
                </select>
          </div>
        </div>
      <!--Asset Name-->
        <div class="form-group row">
          <label class="col-form-label col-sm-2 text-sm-right">Asset Name</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" placeholder="Asset Name">
          </div>
        </div>
      <!--Description-->
        <div class="form-group row">
          <label class="col-form-label col-sm-2 text-sm-right">Description</label>
          <div class="col-sm-10">
            <textarea class="form-control" placeholder="Description"></textarea>
          </div>
        </div>
      <!--Button-->
        <div class="form-group row">
            <label class="col-form-label col-sm-2 text-sm-right"></label>
            <div class="demo-inline-spacing mt-3">
            <button type="submit" class="btn btn-success">
              <span class="fas fa-save"></span> Save</button>
            <button type="clear" class="btn btn-info">
              <span class="ion ion-ios-refresh"></span> Clear</button>
            <button type="" class="btn btn-danger">
              <span class="fas fa-trash-alt"></span> Delete</button>
            <button type="" class="btn btn-secondary">
              <span class="fas fa-fast-backward"></span> Back</button>
          </div>
        </div>
      </form>
      <!-- Table-->
      <hr class="border-light container-m--x mt-0 mb-4">

<div class="demo-vertical-spacing">
    <div class="table-responsive">
        <table class="table table-bordered">
            <thead>
              <tr>
                <th>#</th>
                <th>Asset Category Name</th>
                <th>Description</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th>1</th>
                <td>Camera</td>
                <td>Nikon</td>
              </tr>
            </tbody>
            <tbody>
              <tr>
                <th>2</th>
                <td>Laptop</td>
                <td>Samsung</td>
              </tr>
            </tbody>
          </table>
    </div>
    </div>
  </div>