<div class="card mb-4">
  <h4 class="card-header text-center bg-light">
    Salary Process
  </h4>
  <div class="card-body">
    <div class="col-md-7 center">
        <form>
            <!-- Period-->
            <div class="form-group row">
              <label class="col-form-label col-sm-3 text-sm-right">Period</label>
              <div class="col-sm-7">
                <select class="form-control">
                  <option>Select</option>
                  <option>Option-1</option>
                  <option>Option-2</option>
                  <option>Option-3</option>
                  <option>Option-4</option>
                </select>
              </div>
            </div>
            <!-- Process-->
            <div class="form-group row">
              <label class="col-form-label col-sm-3 text-sm-right">Process</label>
              <div class="col-sm-7">
                <select class="form-control">
                  <option>Select</option>
                  <option>Option-1</option>
                  <option>Option-2</option>
                  <option>Option-3</option>
                  <option>Option-4</option>
                </select>
              </div>
            </div>
            <!--Employee-->
            <div class="form-group row">
              <label class="col-form-label col-sm-3 text-sm-right">Employee</label>
              <div class="col-sm-7">
                <input type="text" class="form-control" placeholder="Employee">
              </div>
            </div>
            <!--Button-->
            <div class="form-group row m-auto">
              <div class="demo-inline-spacing mt-3 center">
                <button type="submit" class="btn btn-success">
                  <span class="fas fa-spinner"></span> Process</button>
                <button type="" class="btn btn-secondary">
                  <span class="far fa-window-close"></span> Close</button>
              </div>
            </div>
          </form>
      
    </div>
  </div>
</div>
