<div class="card section">
    <h4 class="card-header text-center bg-light">
      {{title}}
    </h4>
    <div class="card-body">
    <form action="">
        <div class="col-md-8 center">
            <div class="form-group row">
                <label class="form-label col-md-2" for="attendanceDate">Attendance Date</label>
                <div class="input-group col-md-7">
                  <input class="form-control" placeholder="dd-mm-yyyy" id="attendanceDate" name="attendanceDate" ngbDatepicker [(ngModel)]="attendanceDate"
                    [displayMonths]="1" #d1="ngbDatepicker">
                  <div class="input-group-append">
                    <button class="input-group-text" (click)="d1.toggle()" type="button">
                      <span class="ion ion-md-calendar" style="cursor: pointer;"></span>
                    </button>
                  </div>
                </div>
              </div>
              <div class="form-group row">
                <label for="branch" class="col-md-2">Office Branch</label>
                <div class="col-md-7">
                  <select name="branch" id="branch" class="form-control">
                    <option value="">Select Branch</option>
                  </select>
                </div>
              </div>
              <div class="form-group row">
                <div class="demo-inline-spacing center">
                  <button class="btn btn-success">Process</button>
                  <button class="btn btn-secondary">Close</button>
                </div>
              </div>
        </div>
    </form>
    </div>
  </div>