<div class="card mb-4 section">
  <h4 class="card-header text-center bg-light">
   Overtime Approve
  </h4>
  <div class="container">
    <div class="row">
      <br />
      <div class="form-group">
          <table class="table">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Id</th>
                  <th>Employee Name</th>
                  <th>Department </th>
                  <th>Designation</th>
                  <th>Date</th>
                  <th>In Time</th>
                  <th>Out Time</th>
                  <th>OT Hours</th>
                  <th>OT Hours Approve</th>
                  <th>Remarks</th>
                  <th>Approve</th>
                  <th>Cancel</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th>1</th>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <th>2</th>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  
                </tr>
                <tr>
                  <th>3</th>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  
                </tr>
              </tbody>
            </table>
      </div>
      <div class="demo-inline-spacing mt-3" style="margin:0 auto">
          <button type="" class="btn btn-success">
            <span class="fas fa-save"> Approve All</span>
          </button>
          <button type="" class="btn btn-danger ">
         Cancel All
          </button>
          <button type="" class="btn btn-secondary ">
            <span class="fas fa-window-close"> Close</span>
          </button>
        </div>
    </div>
  </div>
  </div>