  <!--Button-->
  <div class="form-group row m-auto">
    <label class="col-form-label col-sm-2 text-sm-right"></label>
    <div class="demo-inline-spacing mt-3">
      <!--Add-->
      <button type="submit" class="btn btn-success">
        <span class="fas fa-plus"></span> Add</button>
      <!--Save-->
      <button type="submit" class="btn btn-success">
        <span class="fas fa-save"></span> Save</button>
      <!--Generate Report-->
      <button type="submit" class="btn btn-success">
        <span class="fas fa-file-download"></span> Generate Report </button>
      <!--Show-->
      <button type="submit" class="btn btn-success">
        <span class="fas fa-eye"></span> Show </button>
      <!--Process-->
      <button type="submit" class="btn btn-success">
        <span class="fas fa-spinner"></span> Process </button>
        <br>
      <!--Reset-->
      <button type="clear" class="btn btn-info">
        <span class="ion ion-ios-refresh"></span> Reset / Refresh / Clear</button>
        <br>
      <!--Close-->
      <button type="" class="btn btn-secondary">
        <span class="far fa-window-close"></span> Close</button>
      <!--Back-->
      <button type="" class="btn btn-secondary">
        <span class="fas fa-arrow-circle-left"></span> Back</button>
        <br>

      <!--Edit-->
      <button type="submit" class="btn btn-primary">
        <span class="fas fa-edit"></span> Edit </button>
      <!--Search-->
      <button type="submit" class="btn btn-primary">
        <span class="fas fa-search"></span> Search </button>
        <br>
      <!--Remove-->
      <button type="submit" class="btn btn-danger">
        <span class="fas fa-trash"></span> Remove/Delete </button>

    </div>
  </div>
