<!-- <div class="form-group row m-auto">
  <label class="col-form-label col-sm-2 text-sm-right"></label>
  <div class="demo-inline-spacing mt-3">
    <button type="submit" class="btn btn-success">
      <span class="fas fa-plus"></span> Add</button>
    <button type="submit" class="btn btn-success">
      <span class="fas fa-save"></span> Save</button>
    <button type="submit" class="btn btn-success">
      <span class="fas fa-file-download"></span> Generate Report </button>
    <button type="submit" class="btn btn-success">
      <span class="fas fa-eye"></span> Show </button>
    <button type="submit" class="btn btn-success">
      <span class="fas fa-spinner"></span> Process </button>
    <br>
    <button type="clear" class="btn btn-info">
      <span class="ion ion-ios-refresh"></span> Reset / Refresh / Clear</button>
    <br>
    <button type="" class="btn btn-secondary">
      <span class="far fa-window-close"></span> Close</button>
    <button type="" class="btn btn-secondary">
      <span class="fas fa-arrow-circle-left"></span> Back</button>
    <br>

    <button type="submit" class="btn btn-primary">
      <span class="fas fa-edit"></span> Edit </button>
    <button type="submit" class="btn btn-primary">
      <span class="fas fa-search"></span> Search </button>
    <br>
    <button type="submit" class="btn btn-danger">
      <span class="fas fa-trash"></span> Remove/Delete </button>
  </div>
</div> -->

<div class="section margin">
  <div class="section margin">
    <div class="section margin">
      <div class="section margin">
        <div class="section margin">
          <div class="section margin">
            <div class="section margin">
              <div class="section margin">
                <div class="section margin">
                  <div class="section margin text-center bg-dark">
                    <h3 class="text-white">Welcome</h3>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


