<div class="card mb-4 section">
  <h4 class="card-header text-center bg-light">
    Resignation Letter For Approve
  </h4>
  <div class="container">
    <br />
    <div class="form-group row">
        <label class="col-form-label col-sm-4 text-sm-right"> Employee Id
            <i class="text-danger">*</i>
        </label>

        <div class="input-group col-sm-6">
          <input class="form-control" name="" placeholder="Employee-Id" >
          <div class="input-group-append">
            <button class="input-group-text btn btn-info" type="button">
              <span class="ion ion-md-search" style="cursor: pointer;"></span>
            </button>
          </div>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-form-label col-sm-4 text-sm-right">Employee Name
        </label>
        <div class="col-sm-6">
          <input type="text" disabled class="form-control" placeholder="Employee Name">
        </div>
      </div>
      <div class="form-group row">
        <label class="col-form-label col-sm-4 text-sm-right">Designation
        </label>
        <div class="col-sm-6">
          <input type="text" disabled class="form-control" placeholder="Designation">
        </div>
      </div>
      <table class="table">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Id</th>
                  <th>Employee Name</th>
                  <th>Department </th>
                  <th>Designation</th>
                  <th>Reason</th>
                  <th>Remarks</th>
                  <th>Recommend</th>
                  <th>Approve</th>
                  <th>cancel</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th>1</th>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  
                </tr>
                <tr>
                  <th>2</th>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  
                </tr>
                <tr>
                  <th>3</th>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  
                </tr>
                <tr>
                    <th>4</th>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    
                  </tr>
                  <tr>
                      <th>5</th>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      
                    </tr>
                    <tr>
                        <th>6</th>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        
                      </tr>
              </tbody>
            </table>
            <div class="row">
            <div class="demo-inline-spacing mt-3"  style="margin:0 auto">
                <button type="" class="btn btn-secondary ">
                  <span class="fas fa-window-close"> Close</span>
                </button>
              </div>
            </div>
  </div>
</div>