<div class="card mb-4 section">
    <h4 class="card-header text-center bg-light">
     Overtime Approve
    </h4>
    <div class="container">
       <div class="col-md-7 center">
          <br />
        <div class="form-group row">
            <label class="col-form-label col-sm-4 text-sm-right">Company Name
            </label>
            <div class="col-sm-8">
              <select class="custom-select ">
                <option>1 </option>
                <option>2</option>
                <option>3</option>
                <option></option>
  
              </select>
            </div>
          </div>
          <div class="form-group row">
              <label class="col-form-label col-sm-4 text-sm-right">Type
              </label>
              <div class="col-sm-8">
                <select class="custom-select ">
                  <option>1 </option>
                  <option>2</option>
                  <option>3</option>
                  <option>4</option>
    
                </select>
              </div>
            </div>
       </div>
          
        </div>
        <div class="demo-inline-spacing mt-3" style="margin:0 auto">
            <button type="" class="btn btn-success">
              <span class="fas fa-save"> Save</span>
            </button>
            <button type="" class="btn btn-secondary ">
              <span class="fas fa-window-close"> Close</span>
            </button>
          </div>
        </div>