<div class="card  section">
    <h4 class="card-header text-center bg-light">
        {{title}}
    </h4>
    <div class="card-body col-md-9" style="margin: 0 auto">
        <form>
            <div class="form-group row">
                <label class="col-form-label col-sm-3 text-sm-right" for="productionUnit">Production Unit</label>
                <div class="col-sm-6">
                    <select class="custom-select" name="productionUnit" id="productionUnit">
                        <option>Select Production Unit</option>
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-form-label col-sm-3 text-sm-right" for="productionFloor">Production Floor</label>
                <div class="col-sm-6">
                    <input type="text" name="productionFloor" id="productionFloor" class="form-control" placeholder="Production Floor">
                </div>
            </div>
           
        </form>
        <div class="row">
            <label for="" class="col-form-label col-sm-2 text-sm-right"></label>
            <div class="demo-inline-spacing mt-3">
                <button type="submit" class="btn btn-success"><span class="fas fa-save"></span> Save</button>
                <button class="btn btn-info"><span class="ion ion-ios-refresh"></span> Reset</button>
                <button class="btn btn-secondary"><span class="fas fa-window-close"></span> Close</button>
                <!-- <button class="btn btn-danger"><span class="fas fa-trash-alt"></span> Delete</button> -->
            </div>
        </div>
        <div class="card mb-4">
                <div class="card-header">
                  <div class="row">
                    <div class="col">
                      Per page: &nbsp;
                      <select [(ngModel)]="perPage" (change)="update()"
                        class="custom-select custom-select-md d-inline-block w-auto">
                        <option *ngFor="let limit of [5, 10, 20, 30, 40, 50]">{{limit}}</option>
                      </select>
                    </div>
                    <div class="col">
                      <input type="text" [(ngModel)]="filterVal" (input)="currentPage = 1; update()"
                        class="form-control form-control-md d-inline-block w-auto float-sm-right" placeholder="Search...">
                    </div>
                  </div>
                </div>
                <table class="table table-hover table-striped mb-0">
                  <thead>
                    <tr>
                      <th># S/N</th>
                      <th>Production Floor</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngIf="tempItems.length==0">
                      <td colspan="3" class="font-italic text-center">No Item available</td>
                    </tr>
                    <tr *ngFor="let item of tempItems">
                      <td>{{item}}</td>
                      <td>{{item}}</td>
                    </tr>
                  </tbody>
                </table>
                <!-- Pagination -->
                <div class="card-body py-0">
                  <div class="row">
                    <div class="col-sm text-sm-left text-center pt-3">
                      <span class="text-muted" *ngIf="totalItems">Page {{ currentPage }} of {{ totalPages }}</span>
                    </div>
                    <div class="col-sm pt-3">
                      <ngb-pagination [collectionSize]="totalItems" [pageSize]="perPage" [(page)]="currentPage"
                        (pageChange)="update()" size="sm" class="d-flex justify-content-center justify-content-sm-end m-0">
                      </ngb-pagination>
                    </div>
                  </div>
                </div>
                <!-- / Pagination -->
              </div>
    </div>
</div>