<div class="card mb-4 section">
  <h4 class="card-header text-center bg-light">
    Over Time Condition Setup
  </h4>
  <div class="container">
    <br />
    <div class="col-md-7 center">
        <div class="form-group row">
            <label class="col-form-label col-sm-4 text-sm-right">Day Type
            </label>
      
            <div class="col-sm-8">
              <select class="custom-select ">
                <option>1 </option>
                <option>2</option>
                <option>3</option>
                <option></option>
              </select>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-form-label col-sm-4 text-sm-right">Over Time Name
            </label>
            <div class="col-sm-8">
              <input type="text" class="form-control" placeholder="Over Time Name">
            </div>
          </div>
          <div class="form-group row">
            <label class="col-form-label col-sm-4 text-sm-right">Minimum OT Hours
            </label>
            <div class="col-sm-8">
              <input type="text" class="form-control" placeholder="Minimum OT Hour">
            </div>
          </div>
          <div class="form-group row">
            <label class="col-form-label col-sm-4 text-sm-right">Maximum OT Hours
            </label>
            <div class="col-sm-8">
              <input type="text" class="form-control" placeholder="Maximum OT Hour">
            </div>
          </div>
    </div>
  </div>
    <div class="row">
      <div class="demo-inline-spacing mt-3"  style="margin:0 auto">
          <button type="" class="btn btn-success" >
            <span class="fas fa-save"> Save</span>
          </button>
          <button type="clear" class="btn btn-info">
              <span class="ion ion-ios-refresh"></span> Reset
            </button>
          <button type="" class="btn btn-secondary ">
            <span class="fas fa-window-close"> Close</span>
          </button>
        </div>
      </div>
      <table class="table">
        <thead>
          <tr>
            <th>#</th>
            <th>OT Name</th>
            <th>Minimum Hour</th>
            <th>Maximum Hour</th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th>1</th>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <th>2</th>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <th>3</th>
            <td></td>
            <td></td>
            <td></td>
          </tr>
        </tbody>
      </table>
    </div>