<div class="card mb-4 section">
  <h4 class="card-header text-center bg-light">
     Tax Year Slab
  </h4>
  <div class="card-body">
    <br/>
    <div class="col-md-7 center">
        <div class="form-group row">
            <label class="col-form-label col-sm-4 text-sm-right">Tax Info Name
            </label>
            <div class="col-sm-8">
              <select class="custom-select ">
                <option>Select state</option>
                <option>Type 1</option>
                <option>Type 2</option>
                <option></option>
                <option></option>
                <option></option>
                <option></option>
              </select>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-form-label col-sm-4 text-sm-right">Slab Type
            </label>
            <div class="col-sm-8">
              <select class="custom-select ">
                <option>Select state</option>
                <option>Type 1</option>
                <option>Type 2</option>
                <option></option>
                <option></option>
                <option></option>
                <option></option>
              </select>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-form-label col-sm-4 text-sm-right">Slab Number
            </label>
            <div class="col-sm-8">
              <input type="text" class="form-control" placeholder="Slab Number">
            </div>
          </div>
          <div class="form-group row">
            <label class="col-form-label col-sm-4 text-sm-right">Slab Amount
            </label>
            <div class="col-sm-8">
              <input type="text" class="form-control" placeholder="Slab Amount">
            </div>
          </div>
          <div class="form-group row">
            <label class="col-form-label col-sm-4 text-sm-right">Tax Rate
            </label>
            <div class="col-sm-8">
              <input type="text" class="form-control" placeholder="Tax Rate">
            </div>
          </div>
          <div class="form-group row">
            <label class="col-form-label col-sm-4 text-sm-right">Slab Text
            </label>
            <div class="col-sm-8">
              <input type="text" class="form-control" placeholder="Slab Text">
            </div>
          </div>
    </div>
    <div class="row">
      <div class="demo-inline-spacing mt-3"  style="margin:0 auto">
        <button type="" class="btn btn-success" >
          <span class="fas fa-save"> Save</span>
        </button>
        <button type="" class="btn btn-secondary ">
          <span class="fas fa-window-close"> Close</span>
        </button>
      </div>
      </div>
      <table class="table">
        <thead>
          <tr>
            <th>#</th>
            <th>Slab Amount</th>
            <th>Tax Rate</th>
            <th>Slab Text</th>
           
          </tr>
        </thead>
        <tbody>
          <tr>
            <th>1</th>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <th>2</th>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <th>3</th>
            <td></td>
            <td></td>
            <td></td>
          </tr>
        </tbody>
      </table>
    </div>
    </div>