<div class="card mb-4">
  <h4 class="card-header text-center bg-light">
    Leave Type Setup
  </h4>
  <div class="card-body">
    <div class="col-md-7 center">
        <form>
            <!--Employee Type-->
            <div class="form-group row">
              <label class="col-form-label col-sm-3 text-sm-right">Employee Type</label>
              <div class="col-sm-9">
                <select class="form-control">
                  <option>Select</option>
                  <option>Option-1</option>
                  <option>Option-2</option>
                  <option>Option-3</option>
                  <option>Option-4</option>
                </select>
              </div>
            </div>
            <!--Leave Type Name-->
            <div class="form-group row">
              <label class="col-form-label col-sm-3 text-sm-right">Leave Type Name</label>
              <div class="col-sm-9">
                <input type="text" class="form-control" placeholder="Leave Type Name">
              </div>
            </div>
            <!--Leave Day-->
            <div class="form-group row">
              <label class="col-form-label col-sm-3 text-sm-right">Leave Day</label>
              <div class="col-sm-9">
                <input type="text" class="form-control" placeholder="Leave Day">
              </div>
            </div>
            <!--Short Name-->
            <div class="form-group row">
              <label class="col-form-label col-sm-3 text-sm-right">Short Name</label>
              <div class="col-sm-9">
                <input type="text" class="form-control" placeholder="Short Name">
              </div>
            </div>
            <!--Apply Maximum-->
            <div class="form-group row">
              <label class="col-form-label col-sm-3 text-sm-right">Apply Maximum</label>
              <div class="col-sm-9">
                <input type="text" class="form-control" placeholder="Apply Maximum">
              </div>
            </div>
            <!--Button-->
            <div class="form-group row">
              <div class="demo-inline-spacing mt-3 center">
                <button type="submit" class="btn btn-success">
                  <span class="fas fa-save"></span> Save</button>
                <button type="clear" class="btn btn-info">
                  <span class="ion ion-ios-refresh"></span> Reset</button>
                <button type="" class="btn btn-secondary">
                  <span class="fas fa-window-close"></span> Close</button>
              </div>
            </div>
          </form>
   </div>

    <!-- Table-->
    <hr class="border-light container-m--x mt-0 mb-4">

    <div class="demo-vertical-spacing">
      <div class="table-responsive">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>#</th>
              <th>Leave Type Name</th>
              <th>Leave Days</th>
              <th>Apply Max</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th>1</th>
              <td>a</td>
              <td>b</td>
              <td>c</td>
            </tr>
          </tbody>
          <tbody>
            <tr>
              <th>2</th>
              <td>aa</td>
              <td>bb</td>
              <td>cc</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
