<div class="card section">
  <h4 class="card-header text-center bg-light">{{title}}</h4>
  <div class="card-body">
    <div class="row">
      <div class="col-md-6 center">
        <form action="">
          <div class="form-group row">
            <label for="loginId" class="col-md-4">Login Id</label>
            <div class="col-md-8">
              <input type="text" name="loginId" id="loginId" class="form-control" placeholder="Login Id">
            </div>
          </div>
          <div class="form-group row">
            <label for="oldPass" class="col-md-4">Old Password</label>
            <div class="col-md-8">
              <input type="password" name="oldPass" id="oldPass" class="form-control" placeholder="Old Password">
            </div>
          </div>
          <div class="form-group row">
            <label for="newPass" class="col-md-4">New Password</label>
            <div class="col-md-8">
              <input type="password" name="newPass" id="newPass" class="form-control" placeholder="New Password">
            </div>
          </div>
          <div class="form-group row">
            <label for="reenterPass" class="col-md-4">Re-enter Password</label>
            <div class="col-md-8">
              <input type="password" name="reenterPass" id="reenterPass" class="form-control" placeholder="Re-enter Password">
            </div>
          </div>
          <div class="form-group row">
            <label for="" class="col-md-4"></label>
            <div class="col-md-8 demo-inline-spacing">
              <button class="btn btn-success">Change</button>
              <button class="btn btn-secondary"><span class="ion ion-ios-close"></span> Close</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>