<div class="card mb-4 section">
  <h4 class="card-header text-center bg-light">
    Assign Over Manual
  </h4>
  <div class="container">
    <br />
    <div class="form-group row">
      <label class="col-form-label col-sm-4 text-sm-right">Unit
      </label>

      <div class="col-sm-4">
        <select class="custom-select ">
          <option>1 </option>
          <option>2</option>
          <option>3</option>
          <option></option>
        </select>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-form-label col-sm-4 text-sm-right">Line
      </label>

      <div class="col-sm-4">
        <select class="custom-select ">
          <option>1 </option>
          <option>2</option>
          <option>3</option>
          <option></option>
        </select>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-form-label col-sm-4 text-sm-right">Date

      </label>

      <div class="input-group col-sm-4">
        <input class="form-control" name="dp1" placeholder="dd-mm-yyyy" ngbDatepicker #d1="ngbDatepicker">
        <div class="input-group-append">
          <button class="input-group-text" (click)="d1.toggle()" type="button">
            <span class="ion ion-md-calendar" style="cursor: pointer;"></span>
          </button>
        </div>
      </div>
    </div>
    <table class="table">
      <thead>
        <tr>
          <th>#</th>
          <th>Code</th>
          <th>Employee Name</th>
          <th>Designation</th>
          <th>Department</th>
          <th>hour</th>
          <th>Minuit</th>
          <th>Auto OT Hour</th>
          <th>OT hour</th>
          <th>Remarks</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th>1</th>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td>0</td>
          <td>0</td>
          <td>0</td>
          <td>0</td>
          <td></td>
        </tr>
        <tr>
          <th>2</th>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td>0</td>
          <td>0</td>
          <td>0</td>
          <td>0</td>
          <td></td>
        </tr>
        <tr>
          <th>3</th>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td>0</td>
          <td>0</td>
          <td>0</td>
          <td>0</td>
          <td></td>
        </tr>
      </tbody>
    </table>
    <div class="row">
      <div class="demo-inline-spacing mt-3" style="margin:0 auto">
        <button type="" class="btn btn-success">
          <span class="fas fa-save"> Save</span>
        </button>
        
        <button type="" class="btn btn-danger ">
            <span class="fas fa-window-close"> Close</span>
          </button>
          <button type="" class="btn btn-success ">
            <span class="fas fa-plus"> Add row </span>
          </button>
      </div>
     </div>
    </div>
    </div>
