<div class="card mb-4 section">
  <h4 class="card-header text-center bg-light">
    Employee Block Information
  </h4>
  <div class="container">
    <br />
    <div class="form-group row">
        <label class="col-form-label col-sm-4 text-sm-right"> Employee Id
            <i class="text-danger">*</i>
        </label>

        <div class="input-group col-sm-6">
          <input class="form-control" name="" placeholder="Employee-Id" >
          <div class="input-group-append">
            <button class="input-group-text btn btn-info" type="button">
              <span class="ion ion-md-search" style="cursor: pointer;"></span>
            </button>
          </div>
        </div>
      </div>
    <div class="form-group row">
      <label class="col-form-label col-sm-4 text-sm-right">Employee Name
      </label>
      <div class="col-sm-6">
        <input type="text" class="form-control" placeholder="Employee Name">
      </div>
    </div>
    <div class="form-group row">
      <label class="col-form-label col-sm-4 text-sm-right">Designation
      </label>
      <div class="col-sm-6">
        <input type="text" class="form-control" placeholder="Designation">
      </div>
    </div>
    <div class="form-group row">
      <label class="col-form-label col-sm-4 text-sm-right">Department
      </label>
      <div class="col-sm-6">
        <input type="text" class="form-control" placeholder="Department">
      </div>
    </div>
    <div class="form-group row">
      <label class="col-form-label col-sm-4 text-sm-right ">Joining Date
        <i class="text-danger">*</i>
      </label>

      <div class="input-group col-sm-6">
        <input class="form-control" name="dp1" placeholder="dd-mm-yyyy" ngbDatepicker #d1="ngbDatepicker">
        <div class="input-group-append">
          <button class="input-group-text" (click)="d1.toggle()" type="button">
            <span class="ion ion-md-calendar" style="cursor: pointer;"></span>
          </button>
        </div>
      </div>
    </div>
    <div class="form-group row">
      <label for="" class="col-form-label col-sm-4 text-sm-right ">Do Block ?
        <i class="text-danger">*</i>
      </label>
      <div class="col-md-6">
        <select class="custom-select ">
          <option>select</option>
          <option>Yes</option>
          <option>NO</option>

        </select>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-form-label col-sm-4 text-sm-right ">Block Date
        <i class="text-danger">*</i>
      </label>

      <div class="input-group col-sm-6">
        <input class="form-control" name="dp1" placeholder="dd-mm-yyyy" ngbDatepicker #d1="ngbDatepicker">
        <div class="input-group-append">
          <button class="input-group-text" (click)="d1.toggle()" type="button">
            <span class="ion ion-md-calendar" style="cursor: pointer;"></span>
          </button>
        </div>
      </div>
      <br/>
      <div class="demo-inline-spacing mt-3"  style="margin:0 auto">
          <button type="" class="btn btn-success" >
            <span class="fas fa-save"></span> Save
          </button>
          <button type="clear" class="btn btn-info">
              <span class="ion ion-ios-refresh"></span> Reset</button>
          <button type="" class="btn btn-secondary ">
            <span class="fas fa-window-close"></span> Close
          </button>
        </div>
    </div>
  </div>
</div>