<div class="card section">
  <h4 class="card-header text-center bg-light">{{title}}</h4>
  <div class="card-body">
    <div class="row">
      <div class="col-md-6 center">
        <form action="">
          <div class="form-group row">
            <label for="userName" class="col-md-4">User Name</label>
            <div class="col-md-8">
              <select name="userName" id="userName" class="form-control">
                <option value="">Select User</option>
              </select>
            </div>
          </div>
          <div class="row">
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th>Select</th>
                  <th>Company Name</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td><input type="checkbox"></td>
                  <td>The Daily Star</td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="row">
            <div class="col-md-6"></div>
            <div class="col-md-6 demo-inline-spacing">
              <button class="btn btn-success"><span class="fas fa-save"></span> Save</button>
              <button class="btn btn-secondary"><span class="ion ion-ios-close"></span> Close</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>