<div class="card mb-4">
  <h4 class="card-header text-center bg-light">Recruitment Request </h4>
  <div class="card-body">
    <!--1st Row -->
    <div class="row pt-3" style="border: 1px solid lightgray;">
      <!--Left column-->
      <div class="col-6">
        <!--Application Name-->
        <div class="form-group row">
          <label class="col-form-label col-sm-4 text-sm-right">Application Name</label>
          <div class="col-sm-8">
            <input type="text" class="form-control" placeholder="Application Name">
          </div>
        </div>
        <!--Reference By-->
        <div class="form-group row">
          <label class="col-form-label col-sm-4 text-sm-right">Reference By</label>
          <div class="col-sm-8">
            <input type="text" class="form-control" placeholder="Reference By">
          </div>
        </div>
        <!--Mobile No-->
        <div class="form-group row">
          <label class="col-form-label col-sm-4 text-sm-right">Mobile No</label>
          <div class="col-sm-8">
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <button class="input-group-text btn-primary">
                  <span class=" ion ion-md-call"></span>
                </button>
              </div>
              <input type="text" class="form-control" placeholder="Mobile No" aria-label="Mobile No"
                aria-describedby="basic-addon1">
            </div>
          </div>
        </div>
        <!--Address-->
        <div class="form-group row">
          <label class="col-form-label col-sm-4 text-sm-right">Address</label>
          <div class="col-sm-8">
            <textarea class="form-control" placeholder="Address"></textarea>
          </div>
        </div>
        <!--Reference By-->
        <div class="form-group row">
          <label class="col-form-label col-sm-4 text-sm-right">File Name</label>
          <div class="col-sm-6">
            <input type="file" class="form-control">
          </div>
          <div class="col-sm-1">
            <button class="btn btn-success">Add File</button>
          </div>
        </div>
      </div>

      <div class="vertical"></div>
      <!--Right column-->
      <div class="col-6">
        <!--Department-->
        <div class="form-group row">
          <label class="col-form-label col-sm-4 text-sm-right">Department</label>
          <div class="col-sm-8">
            <select class="form-control">
              <option>Select</option>
              <option>Option-1</option>
              <option>Option-2</option>
              <option>Option-3</option>
              <option>Option-4</option>
            </select>
          </div>
        </div>
        <!--Designation-->
        <div class="form-group row">
          <label class="col-form-label col-sm-4 text-sm-right">Designation</label>
          <div class="col-sm-8">
            <select class="form-control">
              <option>Select</option>
              <option>Option-1</option>
              <option>Option-2</option>
              <option>Option-3</option>
              <option>Option-4</option>
            </select>
          </div>
        </div>
        <!--Total Experience-->
        <div class="form-group row">
          <label class="col-form-label col-sm-4 text-sm-right">Total Experience</label>
          <div class="col-sm-8">
            <input type="text" class="form-control" placeholder="Total Experience">
          </div>
        </div>
        <!--Relevant Experience-->
        <div class="form-group row">
          <label class="col-form-label col-sm-4 text-sm-right">Relevant Experience</label>
          <div class="col-sm-8">
            <input type="text" class="form-control" placeholder="Relevant Experience">
          </div>
        </div>
        <!--Salary Level-->
        <div class="form-group row">
          <label class="col-form-label col-sm-4 text-sm-right">Salary Level</label>
          <div class="col-sm-8">
            <select class="form-control">
              <option>Select</option>
              <option>Option-1</option>
              <option>Option-2</option>
              <option>Option-3</option>
              <option>Option-4</option>
            </select>
          </div>
        </div>
        <!--Salary-->
        <div class="form-group row">
          <label class="col-form-label col-sm-4 text-sm-right">Salary</label>
          <div class="col-sm-8">
            <input type="text" class="form-control" placeholder="Salary">
          </div>
        </div>

      </div>
    </div>
    <div class="row pt-3" style="border: 1px solid lightgray;">
        <!--Left column-->
        <div class="col-8">
          <!--Employee Id-->
          <div class="form-group row">
            <label class="col-form-label col-sm-4 text-sm-right">Employee ID</label>
            <div class="col-sm-8">
              <div class="input-group">
                <input class="form-control" type="text" placeholder="Employee ID">
                <div class="input-group-append">
                  <button class="input-group-text btn btn-primary" type="button">
                    <span class="fas fa-search" style="cursor: pointer;"></span>
                  </button>
                </div>
              </div>
            </div>
          </div>
          <!--Employee Name-->
          <div class="form-group row">
            <label class="col-form-label col-sm-4 text-sm-right">Employee Name</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" placeholder="Employee Name">
            </div>
          </div>
          <!--Designation-->
          <div class="form-group row">
            <label class="col-form-label col-sm-4 text-sm-right">Designation</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" placeholder="Designation">
            </div>
          </div>
        </div>
  
        <div class="vertical"></div>
        <!--Right column-->
        <div class="col-4">
        </div>
      </div>
    <!--2nd End row-->
    <!--Button-->
    <div class="form-group row">
      <label class="col-form-label col-sm-5 text-sm-right"></label>
      <div class="demo-inline-spacing mt-3">
        <button type="submit" class="btn btn-success">
          <span class="fas fa-save"></span> Save</button>
        <button type="clear" class="btn btn-info">
          <span class="ion ion-ios-refresh"></span> Reset</button>
        <button type="" class="btn btn-secondary">
          <span class="fas fa-window-close"></span> Close</button>
      </div>
    </div>
    <!-- Table-->
    <hr class="border-light container-m--x mt-0 mb-4">
    <div class="demo-vertical-spacing">
      <div class="table-responsive">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>#</th>
              <th>Application Name</th>
              <th>Reference</th>
              <th>Mobile</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th>1</th>
              <td>Hamid</td>
              <td>BITM</td>
              <td>021999</td>
            </tr>
          </tbody>
          <tbody>
            <tr>
              <th>2</th>
              <td>Sumon</td>
              <td>BITM</td>
              <td>021999</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <!--1st Table End -->
        <!-- 2nd Table-->
        <hr class="border-light container-m--x mt-0 mb-4">
        <div class="demo-vertical-spacing">
          <div class="table-responsive">
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th>Application Name</th>
                  <th>Reference</th>
                  <th>Mobile</th>
                  <th>Last Position</th>
                  <th>Remark</th>
                  <th>Status</th>
                  <th>Detail</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Hamid</td>
                  <td>BITM</td>
                  <td>021999</td>
                  <td>021999</td>
                  <td>021999</td>
                  <td>021999</td>
                  <td>021999</td>
                </tr>
              </tbody>
              <tbody>
                <tr>
                  <td>Sumon</td>
                  <td>BITM</td>
                  <td>021999</td>
                  <td>021999</td>
                  <td>021999</td>
                  <td>021999</td>
                  <td>021999</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
  </div>
  <!--end Card body-->
</div>
