<div class="card mb-4 section">
        <h4 class="card-header text-center bg-light">
         Upload File JPG
        </h4>
        <div class="container">
          <br />
          <div class="form-group row">
            <label class="col-form-label col-sm-4 text-sm-right">Emp Code
            </label>
            <div class="col-sm-4">
              <select class="custom-select ">
                <option>Select state</option>
                <option>Type 1</option>
                <option>Type 2</option>
                <option></option>
                <option></option>
                <option></option>
                <option></option>
              </select>
            </div>
            <button type="" class="btn btn-success" >
              <span  class="fas fa-eye"> Show Name</span>
            </button>
          </div>
         
            <div class="form group ">
                <label class="col-form-label col-sm-4 text-sm-right">Emp Code
                  </label>
              <label class=""></label>
              <input type="file">
              <small class="form-text text-muted"></small>
            </div>
          
          <div class="row">
            <div class="demo-inline-spacing mt-3"  style="margin:0 auto">
              <button type="" class="btn btn-success" >
                <span class="fas fa-file-upload" >Upload</span>
              </button>
              <button type="" class="btn btn-info ">
                <span  class="fas fa-file-download" >View Files</span>
              </button>
            </div>
          </div>
        </div>
      </div>
      
      