<div class="card section">
    <h4 class="card-header text-center bg-light">
      {{title}}
    </h4>
    <div class="card-body">
    <form action="">
        <div class="col-md-7 center">
            <div class="form-group row">
                <label for="period" class="col-md-4">Period</label>
                <div class="col-md-8">
                  <select name="period" id="period" class="form-control">
                    <option value="">Select Period</option>
                  </select>
                </div>
              </div>
            <div class="form-group row">
                <label class="form-label col-md-4" for="fromDate">From Date</label>
                <div class="input-group col-md-8">
                  <input class="form-control" placeholder="dd-mm-yyyy" id="fromDate" name="fromDate" ngbDatepicker [(ngModel)]="attendanceDate"
                    [displayMonths]="1" #d1="ngbDatepicker">
                  <div class="input-group-append">
                    <button class="input-group-text" (click)="d1.toggle()" type="button">
                      <span class="ion ion-md-calendar" style="cursor: pointer;"></span>
                    </button>
                  </div>
                </div>
              </div>
              <div class="form-group row">
                  <label class="form-label col-md-4" for="toDate">To Date</label>
                  <div class="input-group col-md-8">
                    <input class="form-control" placeholder="dd-mm-yyyy" id="toDate" name="toDate" ngbDatepicker [(ngModel)]="attendanceDate"
                      [displayMonths]="1" #d2="ngbDatepicker">
                    <div class="input-group-append">
                      <button class="input-group-text" (click)="d2.toggle()" type="button">
                        <span class="ion ion-md-calendar" style="cursor: pointer;"></span>
                      </button>
                    </div>
                  </div>
                </div>
              <div class="form-group row">
                <div class="demo-inline-spacing center">
                  <button class="btn btn-success">Process</button>
                  <button class="btn btn-secondary">Close</button>
                </div>
              </div>
        </div>
    </form>
    </div>
  </div>